
<div class="parent">
  <div class="card-container p-shadow-5">
    <p-card header="Palm Sync NG" subheader="Select an option below">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-upload"></i>
                <span>Install app</span>
            </ng-template>
            <app-upload-prc></app-upload-prc>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
              <i class="pi pi-download"></i>
              <span>Retrieve app</span>
          </ng-template>
          <app-download-prc></app-download-prc>
        </p-tabPanel>
      </p-tabView>

      <p>Powered by: <a href="https://github.com/jichu4n/palm-sync">palm-sync</a></p>
      <p>Version: {{version.hash}}</p>

    </p-card>
  </div>
  
</div>



<!-- <p-panelMenu [model]="gfg"></p-panelMenu> -->