<div>
    <p-button label="Load databases from device" [loading]="loading" (onClick)="load()"></p-button>
    <p><b>Status:</b> {{statusLabel | async}}</p>
    <p-table [value]="databases" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Created at</th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-database>
            <tr>
                <td>{{database.name}}</td>
                <td>{{database.version}}</td>
                <td>{{database.crDate}}</td>
                <button type="button" pButton pRipple icon="pi pi-download" ></button>
            </tr>
        </ng-template>
    </p-table>
</div>


