<div>
    <div class="flex flex-wrap gap-3">
        <p-button 
        [label]="sourceDatabases.length == 0? 'Get databases list from device' : 'Refresh databases list from device'"
        [loading]="loading"
        (onClick)="load()"></p-button>
    
        <p-button 
        label="Download selected"
        [loading]="loading"
        (onClick)="downloadSelected()"
        [disabled]="selectedDatabases.length == 0"></p-button>
    </div>


    <p><b>Status:</b> {{statusLabel | async}}</p>

    <p-pickList [source]="sourceDatabases" [target]="selectedDatabases" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }" filterBy="name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" breakpoint="1400px" [hidden]="sourceDatabases.length == 0">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ product.name }}</span>
                    <div class="flex align-products-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        Creator: <span>{{product.creator}}</span>
                    </div>
                </div>
                <span class="font-bold text-900">{{product.type}}</span>
            </div>
        </ng-template>
    </p-pickList>
</div>


