<div class="card flex justify-content-center maincard">
      <p-fileUpload
        class="uploadForm"
        [hidden]="!isWebUsbSupported"
        name="file"
        [customUpload]="true"
        [showCancelButton]="false"
        (uploadHandler)="customUpload($event)"
        (onSelect)="onFileSelect($event)"
        [multiple]="true"
        accept=".prc,.pdb"
        uploadLabel="Install">
        <ng-template pTemplate="content">
          <div class="ui-message ui-widget">
            <p>Click or drag files to this area to upload.</p>
          </div>
        </ng-template>
      </p-fileUpload>
  <p><b>Status:</b> {{statusLabel | async}}</p>
  <p>Powered by: <a href="https://github.com/jichu4n/palm-sync">palm-sync</a></p>
  <!-- <img [src]="bitmapBase64" alt="Bitmap Image"> -->
</div>
